//=================================
// Variables
//=================================

$color-primary: white;

$color-secondary: #948C75;
// $color-pale: #D9CEB2;
$color-pale: white;
$color-mid: #99B2B7;
$color-dark: #7A6A53;
$color-teal:  #17A2B8;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Montserrat", sans-serif;
$header-font: "Poiret One";


body {
    background-color: $color-primary;
    font-family: $body-font;
}

#introduction {
    background: url(/img/showcase.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
}
.hero {
    /*background: url(/img/charlestongradient.png) no-repeat center center;*/
    background-size: cover;
}
.home-section {
  padding-top: 75px;
}
.h-bold {
  text-align: center;
}
#home h1 {
  line-height: 40px;
  letter-spacing: 0.6px;
}
#home .typed {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.5px;
  margin: 0 auto;
}
#home {
  background: url(/img/showcase.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: block;
}
.wrap-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
.content{
    position: absolute;
    text-align: center;
    min-width: 300px;
    left: 50%;
    top: 50%;
    padding: 65px;
    background: rgba(255, 255, 255, 0.8);
    outline: 10px double #ffee51;
    outline-offset: 8px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  